# Ignore executable files
*.exe
*.dll
*.so
*.dylib

# Ignore compiled object files
*.o
*.obj
*.class
*.pyc

# Ignore Excel files
*.xls
*.xlsx
*.xlsm
*.csv

# Ignore parquet files
*.parquet

# Ignore log files
*.log

# Ignore directory node_modules
node_modules/

# Ignore zip files
*.zip
# Ignore json files
*.json